# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
**/bin/
**/obj/

# Rider/JetBrains
.idea/
*.sln.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# NuGet
packages/
*.nupkg
*.snupkg

# Publish outputs
out/

# Other
*.mdb
*.pdb
_ReSharper*/
*.resharper
*.DotSettings.user